<div class="container">
  <div class="responsive">
    <div class="jumbotron">
      <h1>
        {{title}}
      </h1>

      <h3> Dataset stuff </h3>
      <h4> Table {{tableNumberString}}: {{datasetInfo.dataset.label}}  </h4>
      <div class="table-responsive">
        <table class="table table-hover table-bordered" [mfData]="dataModel" #mf="mfDataTable" [mfRowsOnPage]="numberOfRows">

          <th> <mfDefaultSorter by="groupName"> {{datasetInfo.dataset.dimension.Konsumgrp.label}} </mfDefaultSorter> </th>
          <th> <mfDefaultSorter by="time"> {{datasetInfo.dataset.dimension.Tid.label}} </mfDefaultSorter> </th>
          <th> <mfDefaultSorter by="cpi"> {{datasetInfo.dataset.dimension.ContentsCode.category.label.KpiIndMnd}} </mfDefaultSorter> </th>
          <th> <mfDefaultSorter by="monthlyChange"> {{datasetInfo.dataset.dimension.ContentsCode.category.label.Manedsendring}} </mfDefaultSorter> </th>
          <th> <mfDefaultSorter by="twelveMonthRate"> {{datasetInfo.dataset.dimension.ContentsCode.category.label.Tolvmanedersendring}} </mfDefaultSorter> </th>

          <tr *ngFor="let item of mf.data">
            <td>{{item.groupName}}</td>
            <td>{{item.time}}</td>
            <td>{{item.cpi}}</td>
            <td>{{item.monthlyChange}}</td>
            <td>{{item.twelveMonthRate}}</td>
          </tr>
          
        </table>
      </div>

    </div>
  </div>


</div>
